* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #080808;
  /* color:red; */
  color: #fff;
}
#header {
  background-image: url("./images/about.jpeg");
  width: 100%;
  height: 100vh;

  background-size: 25rem;
  background-position: right;
  background-repeat: no-repeat;
 
}
 

/* .container {
  padding: 10px 10px;
} */
.logo {
  height: 100px;
  margin-left: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 
}
nav ul li {
  
  display: inline-block;

  list-style: none;
  margin: 10px 20px;
}


nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.textHeader {
  margin-top: 20%;
  font-size: 30px;
  margin-left: 20%;
}
.textHeader h1 {
  margin-top: 20px;
  font-size: 60px;
}
.textHeader h1 span {
  color: #ff004f;
}
/* ------------about-------- */
#about {
  padding: 80px 0px;
}
#about img {
  height: 42rem;
  width: 30rem;
  margin-left: 5%;
  border-radius: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 65%;
  font-size: 35px;
  color: gray;
}
.about-col-2 p{
  font-size: 22px;
}
.sub-title {
  color: #ff004f;
  font-size: 35px;
  font-weight: 600;
}
.tab-title {
  display: flex;
  margin: 20px 0 40px;
}
.tab-link {
  margin-right: 50px;
  font-weight: 600;
  color: bisque;
  cursor: pointer;
  position: relative;
}
.tab-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color:#ff004f;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}
.tab-link.active-link::after {
  width: 100%;
}
.tab-contain ul li {
  list-style: none;
  margin: 10px 0px;
}
.tab-contain ul li span {
    color: #999825;
}
.tab-contain{
    display: none;
}
.tab-contain.active-tab{
    display: block;
}

/* ----------services---------- */

#services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 52px;
}
.service-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 2s,tranfrom 2s;
}
.service-list div p{
    font-size: 20px;
    margin-top: 25px;
}
.service-list div h1{
    color: #999825;
    font-weight: 700;
    font-size: 35px;
}
.service-list div a{
    font-size: 20px;
    color:#fff;
    display: inline-block;
    margin-top: 25px;
    text-decoration:none;
}
.service-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}
.service-list div i{
  font-size: 50px;
}
/* -------------Mywork-------- */
#portoflio{
  padding: 50px 25px;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
 } 
 .work-list div img{
  height: 100%;
  width: 100%;
  margin-top: 25px;
} 
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transfrom 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background:linear-gradient(rgba(50, 43, 43, 0.5),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
flex-direction: column;
padding: 0 40px;
justify-content: center;
font-size: 15px;
transition: height 1.0s;
}
.layer h3{
  font-weight: 5000;
  font-size: 25px;
 margin-bottom: 20px;
}
.layer a{
  margin-top:20px ;
  font-size: 25px;
  color: #fff;
  
  line-height: 60px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  text-align: center;
 border-radius: 50%;
 
}
.work:hover{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 96%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  /* margin-left:50%; */
  border: 2px solid red;
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
 cursor: pointer;
 font-size: 20px;
 font-weight: 700;
 transition: 0.5s;
}
.btn:hover{
background-color: #ff004f;
}
/* ------------contact----------- */
.contact-left{
  flex-basis: 35%;
  margin-left: 40px;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
  font-size: 20px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 20px;
  font-size: 20px;
}
.social-icon{
margin-top: 30px;
}

 .social-icon a{
  /* margin-top: 30px; */
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
  transition:transform 0.5s;
}
.social-icon a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.btn2{
  text-decoration: none;
  margin-left: 0;
  border: none;
  background-color: azure;
  color: black;
}

.contact-right form{
width: 100%;
}
form input, form textarea{
  width: 80%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 25px;
  margin: 25px 0;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
}
form .btn2{
  padding: 18px 75px;
  margin-top: 15px;
}
/* ------------media-------- */
nav .fa-solid{
  display: none;

}
@media only screen and (max-width:600px){
  #header {
    background-image: url("./images/about.jpeg");
   background-size: 100%;
   height: 85%;
   align-items: center;

  }
  .textHeader{
    margin-top: 100%;
    font-size: 15px;
  }
  .textHeader h1{
    font-size: 30px;
    color: blue;
  }
  .textHeader p{
    font-size: 15px;
    color: white;
  }
  nav .fa-solid{
    display: block;
    font-size: 45px;
    color:white;
    
  }
  nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 90vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid{
    position:absolute;
    top: 25px;
    left: 25px;
  }
  .about-col-2 p{
    font-size: 15px;
    color: wheat;
  }
 
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .contact-right, .contact-left{
    flex-basis: 100%;
   
  }
   /* .contact-right form{
   margin-left:10%;
  } */
   
}
#smg{
  color: #999825;
 
  font-size: 18px;
  display: block;
}